<canvas style="background-color: #FFF" baseChart width="400" height="400" [datasets]="dataset" [labels]="labels" [colors]="colors" [chartType]="chart">
</canvas>
<div class="container">
    <div class="panel panel-primary" style="background-color: #FFF; margin:20px; padding: 10px;">
        <div class="panel-heading">Análise de Consumo</div>
        <div class="panel-body">Consumo Diário: 10 kWh</div>
        <div class="panel-body" style="border-bottom: 1px solid black; margin-bottom: 10px;">Faturamento Diário: R$ 7,50 </div>
        <div class="panel-body">Consumo Acumulado Mensal: 160000 kWh </div>
        <div class="panel-body">Faturamento Mensal: R$ 115,00 </div>
    </div>
</div>